@charset 'utf-8';

/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* custom */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul, ol {
  list-style: none;
}

img, video {
  max-width: 100%;
}

img {
  border-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
}


/* common */
:root {
  --main-color: hsl(214, 66%, 47%);
  --light-gray: #f0f0f0;
}
.container {
  width: calc(100% - 16px);
  max-width: 960px;
  margin: 0 auto;
}
/* header */
.header {
  background: var(--main-color);
}
.header h1 {
  font-size: 24px;
  line-height: 1.5;
  padding: 0.5em;
}
.header h1 a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: .2s;
}
.header h1 a:hover {
  opacity: .8;
}

/* nav */
.nav {
  background: #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav ul {
  display: flex;
  overflow-x: scroll;
  padding: 16px 8px;
}
.nav ul li {
  border: 1px solid var(--main-color);
  border-radius: 1em;
  overflow: hidden;
  min-width: 100px;
  margin-right: 8px;
}
.nav ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: var(--main-color);
  line-height: 1;
  padding: .5em;
  text-align: center;
  background: white;
}
.nav ul li.current a {
  background: var(--main-color);
  color: white;
}
.nav ul li a:hover {
  background: var(--main-color);
  color: white;
  transition: .2s;
}

/* main */
.main {
  margin: 8px;
}

/* tile */
.tile {
  column-count: 3;
  column-gap: 8px;
}
.tile__item {
  margin-bottom: 8px;
}
.tile__item a {
  display: block;
  text-decoration: none;
  color: black;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.32);
}
.tile__item img {
  display: block;
  width: 100%;
  transition: .5s;
}
.tile__item h1 {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  opacity: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: .5em;
}
.tile__item:hover h1 {
  transition: .3s;
  opacity: 1;
}
.tile__item:hover img {
  opacity: 0.8;
  transform: scale(1.1);
}

/* entry */
.entry {
  margin-bottom: 32px;
}
.entry__thumb {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  max-height: 800px;
  object-fit: contain;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.32);
}
.entry__images {
  column-count: 2;
  column-gap: 8px;
}
.entry__images li {
  margin-bottom: 8px;
  min-width: 50%;
  max-height: 500px;
}
.entry__images img {
  display: block;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.32);
}
.entry__info {
  text-align: center;
  margin: 32px 0;
}
.entry__title {
  font-size: 24px;
  margin-bottom: 8px;
  text-align: center;
}
.entry__title::after {
  content: attr(data-subtitle);
  display: block;
  font-size: 20px;
  color: #555;
}
.entry__desc {
  color: #888;
  text-align: center;
}
.entry__body {
  font-family: serif;
  color: #333;
}
.entry__more {
  display: block;
  margin: 16px auto;
  width: 200px;
  padding: 0 1em;
  line-height: 2;
  border-radius: 1em;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background: var(--main-color);
  color: white;
}

/* user */
.user {
  margin: 16px 0 32px;
  text-align: center;
}
.user h1 {
  font-size: 20px;
  padding: 0.5em 0;
}
.user__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.user__list li {
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.32);
  transition: .3s;
  margin-bottom: 8px;
}
.user__list li:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.32);
  opacity: .8;
}
.user__list li + li {
  margin-left: 16px;
}
.user__list li a {
  display: block;
  height: 64px;
  width: 64px;
}
.user__list li a img {
  display: block;
  width: 100%;
  height: 100%
}

/* comment */
.comment {
  background: #f0f0f0;
  padding: 16px;
}
.comment h1 {
  padding: .5em 0;
}
.comment__form {
  display: flex;
}
.comment__form input {
  flex: 1;
  border: none;
  padding: .5em;
  margin-right: 8px;
}
.comment__form button {
  width: 4em;
  border: none;
  background: var(--main-color);
  color: white;
}
.comment__form button:hover {
  cursor: pointer;
  background: hsla(214, 66%, 47%, 80%);
}
.comment__list {
  padding: 16px 0;
}
.comment__list li {
  display: flex;
  padding: 16px 8px;
  color: #333;
  border-bottom: 1px solid white;
}
.comment__user {
  margin-right: 8px;
}
.comment__list li:first-child {
  border-top: 1px solid white;
}

/* footer */
.footer {
  padding: 8px 0;
  background: #f0f0f0;
  margin-top: 16px;
}
.copyright {
  color: #888;
  display: block;
  text-align: center;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 48px;
  }
  .header h1 {
    font-size: 20px;
  }
  .nav ul {
    padding: 8px;
  }
  .nav ul li a {
    font-size: 12px;
  }
  .tile {
    column-count: 2;
  }
  .tile__item h1 {
    opacity: 1;
    font-size: 12px;
    line-height: 1.25em;
    overflow: hidden;
  }
}