{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/489a3753bf.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{{ entry.title }}｜POP TIMES</title>
</head>

<body class="page">
  <header class="header">
    <h1><a href="{% url 'poptimes:home' %}">POP TIMES</a></h1>
  </header>
  <main class="main">
    <div class="container">
      <section class="entry">
        <img class="entry__thumb" src="{{ entry.main_image }}" alt="{{ entry.title }}">
        {% if entry.images %}
        <ul class="entry__images">
          {% for src in entry.images %}
          <li><img src="{{ src }}" alt="サブ画像"></li>
          {% if entry.images %}
          {% for src in entry.animation_images %}
          <li><img src="{{ src }}" alt="サブGIF画像"></li>
          {% endfor %}
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
        <div class="entry__info">
          <h1 class="entry__title" data-subtitle="{{ entry.subtitle }}">{{ entry.title }}</h1>
          <p class="entry__desc">{{ entry.desc }}</p>
        </div>
        <p class="entry__body">{{ entry.body }}</p>
      </section>
      {% if related_user_list %}
      <section class="user">
        <h1>関連ユーザー</h1>
        <ul class="user__list">
        {% for user in related_user_list %}
          <li>
            <a href="{{ user.user_url }}" target="_blank">
              <img src="{{ user.icon_url }}" alt="{{ user.name }}">
            </a>
          </li>
        {% endfor %}
        </ul>
      </section>
      {% endif %}
      {% comment %} <section class="comment">
        <h1>コメント一覧 <i class="fas fa-comment"></i></h1>
        <form action="{% url 'poptimes:comment' company_id=entry.company_id release_id=entry.release_id %}"
          method="post">
          {% csrf_token %}
          <div class="comment__form">
            <input type="text">
            <button>送信</button>
          </div>
        </form>
        {% if message_list %}
        <ul class="comment__list">
          {% for message in message_list %}
          <li>
            <div class="comment__user"><i class="fas fa-user"></i></div>
            <p>
              message.text
            </p>
          </li>
          {% endfor %}
          {% endif %}
        </ul>
      </section> {% endcomment %}
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <small class="copyright">&copy; POP TIMES</small>
    </div>
  </footer>
</body>

</html>