{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/489a3753bf.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>
  {% if current_category %}
    {{ current_category }}｜
  {% endif %}
    POP TIMES
  </title>
</head>

<body class="home">
  <header class="header">
    <h1><a href="{% url 'poptimes:home' %}">POP TIMES</a></h1>
  </header>
  <nav class="nav">
    <ul>
      {% for category in category_list %}
      {% if category.id == view.kwargs.category_id %}
        <li class="current"><a href="{% url 'poptimes:category' category_id=category.id %}">{{ category.name }}</a></li>
      {% else %}
        <li><a href="{% url 'poptimes:category' category_id=category.id %}">{{ category.name }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <main class="main">
    <section class="tile">
      {% if release_list %}
      {% for release in release_list %}
      {% if release.src %}
      <article class="tile__item">
        <a href="{% url 'poptimes:detail' company_id=release.company_id release_id=release.release_id %}">
          <img src="{{ release.src }}" alt="{{ release.title }}">
          <h1>{{ release.title }}</h1>
        </a>
      </article>
      {% endif %}
      {% endfor %}
      {% endif %}
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <small class="copyright">&copy; POP TIMES</small>
    </div>
  </footer>
</body>

</html>